.box-1 {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding-bottom: 100px;
    gap: 50px;
}

.header {
    display:flex;
    margin-bottom: 24px;
    justify-content: space-between;
    padding: 10px 200px 0px 200px;
}

.left-header {
    font-size: 24px;
    font-weight: 700;
    width: 400px;
}
.right-header {
    display: flex;
    justify-content: space-evenly;
    gap: 16px;
    align-items: flex-end;
    width: 500px;
    color: #e5e7eb;
    font-size: 18px;

}

.subheader {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 50px 200px 0px 200px;
}


.left-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 375px;
    margin-right: auto;

}

.right-container {
    background-color: rgb(106, 118, 118);
    text-align: center;
    width: 400px;
    padding: 100px 75px 100px 75px;
    
}

 * {
    font-family: 'Roboto',sans-serif;
    /* outline: 1px solid red; */
} 

.hero {
    font-size: 48px;
    font-weight: 800;
}

button {
    background-color: #3882F6;
    color: white;
    margin-top:10px;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
}

.placeholder {
    display:flex;
    justify-content: center;
    align-items: center;
}

/* box 2 section */

.box-2-title {
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    margin-top: 50px;
}

.card-row {
    display:flex;
    justify-content: center;
    margin-top: 50px;
    gap: 75px;
}

.card {
    display:flex;
    flex-direction: column;
}

.box {
    border: 2px solid blue;
    border-radius: 10px;
    height: 150px;
    width: 150px;
}

.info {
    height: 150px;
    width: 150px;
    text-align: center;
    margin-top: 10px;
}

/* box 3 section */

.box-3 {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    margin-top: 150px;
    padding: 0px 320px 0px 320px;
}

.author {
    margin-bottom: 150px;
    font-weight: 800;
    margin-left: 600px;
}   

/* box 4 section */

.box-4 {
    display:flex;
    justify-content: center;
    align-items: center;
}

.content-4 {
    display:flex;
    background-color: #3882F6;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 100px;
    border-radius: 10px;
    gap: 200px;
    width: 1000px;
}

.left-4 {
    display:flex;
    flex-direction: column;
}

.bottom-button {
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
}

.call-action {
    color: #F9FAF8;
    font-weight: 800;
    font-size: 24px;
}

.action-text {
    color: #e5e7eb;
}

/* Footer */

.footer {
    background-color: #1F2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.copyright (
   
)